.lista-suspensa select {
    background-color: white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.37);
    width: 100%;
    border: none;
    font-size: 24px;
    padding: 24px;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 24px;
}