.botao {
    width: 150px;
    height: 60px;
    background-color: #6278F7;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    border: none;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.322);
}

.botao:hover {
    color: #95FFD4;
}